<div style="text-align: center; font-size: 2em; font-weight: bold; margin-bottom: 1em;">
  <h1>Nouveau Match</h1>
</div>

<%= render "form", score: @score %>

<br>

<div style="text-align: center;">
  <%= link_to "Back to scores", scores_path %>
</div>